body {
    background-color: #fff;
}

.footnote-ref {
    top: unset;
    font-size: unset;
    font-family: serif;
}

.footnote-ref > a:after {
    content: "]";
}

.footnote-ref > a:before {
    content: "[";
}

section > h1.title {
    display: block;
    visibility: hidden;
}
